:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius:45px;
    --color-border:#ccc;
    --border-radius:30px;
} 
*,*::after,*::before{
    box-sizing:border-box
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color:var(--color-body);
}
h1, h2, h3{
    color:var(--color-headings);
    margin-bottom: 1rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
   
}
p{
    margin-top: 0;
}

@media screen  and (min-width:1024px) 
{
    body{
        font-size:1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;  
    }
}

.linkarrow{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: red;
    text-decoration: none;

}
.linkarrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;

}
.linkarrow:hover::after{
    margin-left: 10px;
}
.badge{
    font-weight: 400;
    white-space: nowrap;
    padding: .5rem 2rem;
    font-size: 2rem;
    border-radius: 20px;
}
.badge-primary{
    background-color: var(--color-primary);
    color: #fff;
}
.badge-secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.badge-third{
    background-color: gray;
    color: #fff;
}

@media screen  and (min-width:1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge-third{
        font-size: 1.2rem;
    }
}
.list{
    list-style: none;
    padding: 0;
    color: var(--color-headings);
}
.listinline > .listitem {
    display: inline-block;
    margin-left: 2rem;
}

.listtick {
    list-style-image: url(/images/tick.svg);
    padding: 3rem;

}
.icon{
    width: 40px;
    height: 40px;
    fill:var(--color-primary)
}


.iconcontainer{
    background-color: #f3f9fa;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.btn{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border: 0;
    margin: 1rem 0;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    box-sizing: border-box;
}
.btn:hover{
    cursor: pointer;
}
.btn-primary{
    background-color: var(--color-primary);
    color: #fff;
}
.btn-primary:hover{
    background-color: #70adfd;
}
.btn-secondary{
    background-color: var(--color-secondary);
    color: #fff;
}
.btn-secondary:hover{
    background-color: #52aebe;
}
.btn-third{
    background-color: var(--color-accent);
    color: #fff;

}
.btn-third:hover{
    background-color: #f36d4b;
}
.btn-outline{
    color: var(--color-headings);
    background-color: #fff;
    border: 2px solid var(--color-headings);

}
.btn-outline:hover{
    background-color: var(--color-headings);
    color: #fff;
}
.btn-block{
    width: 100%;
    display: inline-block;
}


.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--color-headings);
    font-size: 2rem;}
::placeholder{
    color: #cdcbc7;
}
@media  screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}

.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 1rem;
}
.input-group .input{
    border: 0;
    flex-grow: 1;
}
.input-group .btn{
    margin: 4px;
}
.input-group>.iconcontainer{
    margin: 14px;

}
@media  screen and (min-width:1024px) {
    .input-group{
        padding: .1rem;
        }
}

.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;

}
.card-header,.card-body{
    padding: 2rem 3rem;
}
.card-primary .card-header{
    background-color: var(--color-primary);
    color: #fff;
}
.card-secondary .card-header{
    background-color: var(--color-secondary);
    color: #fff;
}