<section class="block container">
    <header class="block-header">
    <h2 class="block-heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sed repellat iure iusto laboriosam! Blanditiis, hic exercitationem fugiat dolores sint natus reiciendis amet, officiis aut sapiente labore, magni voluptatem nam.</p>
</header>
</section>

<div style="width: 30%; padding: 4rem;">
    <div class="card card-secondary">
        <header class="card-header">Card Title</header>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, aliquam?
        </div>
    </div>
</div>

<section class="block block-dark block-skewed-left">
    <h2 class="block-heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sed repellat iure iusto laboriosam! Blanditiis, hic exercitationem fugiat dolores sint natus reiciendis amet, officiis aut sapiente labore, magni voluptatem nam.</p>
</section>
