<div style="width: 50%; padding: 4rem;">
    <div class="card card-secondary">
        <header class="card-header">
            <h3 class="plan-name">Entry</h3>
            <span class="plan-price">$14</span>
            <span class="plan-billing">month</span>
            <span class="badge badge-secondary badge-third">10% OFF</span>
            <span class="plan-description">Easy start on the cloud</span>
        </header>
        <div class="card-body">
            <ul class="list listtick">
                <li class="listitem">Unlimited Websites</li>
                <li class="listitem">Unlimited Bandwidth</li>
                <li class="listitem">100 GB SSD Storage</li>
                <li class="listitem">3 GB RAM</li>

            </ul>
            <button class="btn btn-outline btn-block">BUY NOW</button>
        </div>
    </div>
</div>
</div>

