<div class="collapsible ">
    <header class="collapsible-header">
        <h2 class="collapsible-heading">Item 1</h2>
            <svg >
                <img  class="icon icon-white collapsible-icon" src="images/chevron-down-square-svgrepo-com.svg"  alt="A happy,smiling customer">
            </svg>
    </header>
    <div class="collapsible-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ea enim reiciendis quisquam non! Quidem perferendis voluptate fuga ut eum!
    </div>
</div>
<div class="collapsible ">
    <header class="collapsible-header">
        <h2 class="collapsible-heading">Item 1</h2>
            <svg >
                <img  class="icon icon-white collapsible-icon" src="images/chevron-down-square-svgrepo-com.svg"  alt="A happy,smiling customer">
            </svg>
    </header>
    <div class="collapsible-content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ea enim reiciendis quisquam non! Quidem perferendis voluptate fuga ut eum!
    </div>
</div>